@import "variables.css";

/** HEADER STYLES **/
.custom-header {
  background-color: var(--black-bg-footer-header);
  padding: 1rem 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}

.logoImg {
  max-width: 40px;
  height: auto;
  transition: transform 0.3s ease;
}

.logoImg:hover {
  transform: scale(1.1);
}

.brand-title {
  color: var(--orange);
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

@media (min-width: 1400px) {
  .logoImg {
    max-width: 60px;
  }
  .brand-title {
    font-size: 1.75rem;
  }
}

/** Article STYLES **/

article {
  margin: 20px;
  padding: 2rem 1rem;
  max-width: 800px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
  font-weight: bold;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.separator::before {
  margin-right: 0.75rem;
}

.separator::after {
  margin-left: 0.75rem;
}

.custom-container {
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.6);
}

/** FOOTER STYLES **/
.footer {
  background-color: var(--black-bg-footer-header);
  padding-bottom: 2rem;
}

.footer .footerTop {
  background: var(--orange);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.footer .footerBottom {
  border-top: 1px solid var(--black-bg-footer-header);
  margin-top: 3rem;
}

.footer .footerTitle {
  color: var(--yellow);
}

.footerLink {
  color: white;
  text-decoration: none;
  transition: ease color 0.5s;
}

.footerLink:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.footerLinks {
  padding-left: 0;
  gap: 0.5rem;
}

.footerLinkItem {
  list-style: none;
  margin-right: 1rem;
}

.copyright {
  font-size: 0.9rem;
  color: white;
}

.socialIcon {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.socialIcon a {
  border-radius: 100px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: ease background 0.2s;
}

.socialIcon a:hover {
  background-color: #f2cb2e;
}

.location {
  color: white;
  margin: 1rem 0;
}

/** custom btn **/
.custom-btn {
  background-color: var(--orange);
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 10px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: var(--red); /* $festava-red */
  color: white; /* $white */
}
