@import "../../styles/variables.css";

.footer {
  background-color: var(--terciary);
  padding-bottom: 2rem;
}

.footerTop {
  background: var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.footerBottom {
  border-top: 1px solid #1f1c1c;
  margin-top: 2rem;
}

.footerTitle {
  color: var(--secondary);
}

.footerLink {
  color: white;
  transition: color 0.2s;
  text-decoration: none;
  &:hover {
    color: var(--secondary);
    text-decoration: underline;
  }
}

.footerLinks {
  padding-left: 0;
  gap: 0.5rem;
}

.footerLinkItem {
  list-style: none;
  text-decoration: none;
  margin-right: 1rem;
}

.copyright {
  font-size: 0.9rem;
  color: white;
}

.socialIcon {
  display: flex;
  gap: 0.5rem;
  list-style: none;

  a {
    background-color: var(--primary);
    border-radius: 100px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background 0.2s;

    &:hover {
      background-color: var(--secondary);
    }
  }
}

.location {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

