@import '../../styles/variables.css';

.event-card {
  width: 100%;
  max-width: 320px;
  background-color: white;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem auto;
  scale: 0.95;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.event-card-img {
  object-fit: cover;
}

.event-card-body {
  flex-grow: 1;
}

.event-card-title {
  font-weight: bold;
  color: var(--terciary);
}

.event-card-description {
  color: #505050;
}

.event-card-date-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.event-card-date-label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.event-card-date {
  color: var(--primary);
  padding: 0;
  font-weight: bold;
}

.event-card-footer {
  background-color: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.event-card-button {
  background-color: var(--primary);
  border-color: var(--primary);
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary);
}

@media (max-width: 575px) {
  .event-card {
    max-width: 95vw;
    margin: 0 auto;
    border-radius: 4px;
  }

  .event-card:hover {
    transform: none;
  }
  .event-card-img {
    display: none;
  }

  .event-card-description {
    display: none;
  }

  .event-card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .event-card-footer {
    padding: 0.5rem 1rem;
    justify-content: center;
  }

  .event-card-button {
    width: 100%;
    padding: 0.25rem 0.5rem;
  }
}
