<footer class="footer">
  <div class="footerTop">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-12">
          <h2 class="text-white mb-lg-0 fw-bold">Eventos</h2>
        </div>

        <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
          {{> social-icons }}
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-between">
      
      <div class="col-lg-3 col-12">
        <h5 class="footerTitle mb-3">Enlaces de interés</h5>
        <ul class="footerLinks d-flex flex-column">
          <li class="footerLinkItem"><a href="#" class="footerLink">Inicio</a></li>
          <li class="footerLinkItem"><a href="#" class="footerLink">Eventos</a></li>
          <li class="footerLinkItem"><a href="#" class="footerLink">Reservas</a></li>
          <li class="footerLinkItem"><a href="#" class="footerLink">Espacios</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
        <h5 class="footerTitle mb-3">¿Tienes alguna duda?</h5>
        <p class="text-white d-flex mb-1">
          <a href="tel: 123-456-789" class="footerLink">123-456-789</a>
        </p>
        <p class="text-white d-flex">
          <a href="mailto:eventos@fabianto.com" class="footerLink">eventos@fabianto.com</a>
        </p>
      </div>

      <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
        <h5 class="footerTitle mb-3">Localización</h5>
        <p class="location">Calle de los Eventos, 123 – Ciudad Universitaria, España</p>
      </div>

      <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
        <h5 class="footerTitle mb-3">Suscríbete a nuestro boletín</h5>
        <p class="text-white mb-3">Recibe las últimas novedades y ofertas exclusivas.</p>
        <form class="d-flex gap-1">
          <input type="email" class="form-control-sm" placeholder="Tu correo electrónico" />
          <button type="submit" class="btn btn-primary btn-sm">Suscribirse</button>
        </form>
      </div>

    </div>
  </div>

  <div class="footerBottom">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-12 mt-5">
          <p class="copyright">Copyright © 2036 Eventos Fabianto</p>
        </div>

        <div class="col-lg-8 col-12 mt-lg-5">
          <ul class="footerLinks">
            <li class="footerLinkItem"><a href="#" class="footerLink">Términos &amp; Condiciones</a></li>
            <li class="footerLinkItem"><a href="#" class="footerLink">Política de privacidad</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
