<section class="heroSection">
  <div class="videoWrap">
    <video autoplay muted loop class="customVideo">
      <source src="/videos/hero-bg.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="sectionOverlay"></div>

  <div class="container text-center heroContent">
    <h1 class="display-3 fw-bold mb-3">EVENTOS</h1>
    <p class="lead mb-4">Vive el ritmo. Siente la magia.</p>
    <a href="#get-started" class="btn customBtn mb-5">
      ¡Únete a nosotros!
    </a>
  </div>

  <div class="container heroInfo">
    <div class="row">
      <div class="col-lg-9 d-flex align-items-center text-white mb-3 mb-lg-0">
        <h4 class="text-white mb-3 fw-bold">
          Próximo Macroevento: 29 de julio
        </h4>
      </div>
      <div class="col-lg-3 d-flex align-items-center">
        <h4 class="text-white mb-3 fw-bold">Share:</h4>
        {{> social-icons }}
      </div>
    </div>
  </div>
</section>
