<ul class="socialIcon">
  <li><a href="#" class="socialLink"><span class="bi-twitter"></span></a></li>
  <li><a href="#" class="socialLink"><span class="bi-apple"></span></a></li>
  <li><a href="#" class="socialLink"><span class="bi-instagram"></span></a></li>
  <li><a href="#" class="socialLink"><span class="bi-youtube"></span></a></li>
  <li><a href="#" class="socialLink"><span class="bi-pinterest"></span></a></li>
</ul>