// src/components/Navbar/Navbar.module.scss
@use '../../styles/main.scss' as *;

.navbar {
  background: $secondary;
  width: 100%;
}

.navLink {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.2s ease;

  &:hover {
    color: $festava-yellow; // o tu color preferido
  }
}

.active {
  color: $festava-yellow;
  font-weight: 700;
}

.logoImg {
    max-width: 50px;
    height: auto; 
  
    @media (min-width: 1400px) {
      max-width: 60px; 
    }
}


 