@import '../../styles/variables.css';

/** HEADER STYLES **/
.custom-header {
  background-color: var(--terciary);
  padding: 1rem 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}

.navbar {
  background: var(--black-bg-footer-header);
  width: 100%;
}

.navbar-container {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Logo, Links, Button */
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-links {
  justify-self: center; /* Centra los enlaces */
  display: flex;
  gap: 1rem;
}

.logout-button {
  justify-self: end; /* Botón a la derecha */
}

.navLink {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: var(--secondary);
}

.active {
  color: var(--secondary);
  font-weight: 700;
}

.brand-title {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.logoImg {
  max-width: 40px;
  height: auto;
  transition: transform 0.3s ease;
}

.logoImg:hover {
  transform: scale(1.1);
}

.btn-custom {
  background-color: var(--primary);
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}

.btn-custom:hover {
  background-color: var(--hover);
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-container {
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: auto auto auto; /* Logo, Links, Button */
    gap: 1rem;
    padding: 1rem;
  }

  .brand,
  .nav-links,
  .logout-button {
    justify-self: center;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  .logoImg {
    max-width: 60px;
  }

  .brand-title {
    font-size: 1.75rem;
  }
}
