@import "../../styles/variables.css";

.navbar {
  background: var(--black-bg-footer-header);
  width: 100%;
}

.navLink {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.2s ease;

  &:hover {
    color: var(--secondary);
  }
}

.active {
  color: var(--secondary);
  font-weight: 700;
}

.brand-title {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

/** HEADER STYLES **/
.custom-header {
  background-color: var(--terciary);
  padding: 1rem 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}

.logoImg {
  max-width: 40px;
  height: auto;
  transition: transform 0.3s ease;
}

.logoImg:hover {
  transform: scale(1.1);
}

@media (min-width: 1400px) {
  .logoImg {
    max-width: 60px;
  }
  .brand-title {
    font-size: 1.75rem;
  }
}

.custom-btn {
  background-color: var(--primary);
  color: white;
  border-radius: 50px;
  padding: 10px 10px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: var(--hover); 
  color: white; 
}
