$primary: #f77e47; 
$secondary: #f8cb2e;
$danger: #c01f27;
$border-radius-large: 100px;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap"; 
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css"; 

.btn.btn-custom {
  background-color: var(--primary);
  color: white;
  border-radius: 50px;
  padding: 10px 10px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $danger;  
    color: white; 
  }
}

