@use "./variables" as *;

.btn.customBtn {
  background-color: $custom-btn-bg-color;
  color: $white;
  border-radius: $border-radius-large;
  padding: 10px 20px;
  font-weight: 700;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $custom-btn-bg-hover-color;
    color: $white;
  }
}
