// src/components/Navbar/Navbar.module.scss

.siteHeader {
  padding: 12px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  background: transparent;
  width: 100%;
}

.logoImg {
  max-width: 50px;
  height: auto;

  @media (min-width: 1400px) {
    max-width: 60px;
  }
}
